# Create an account at https://www.themoviedb.org.
# After completing the registration process, you will receive two API credentials.
# Copy the "API Read Access Token" and paste it below.
TMDB_API_KEY=your_api_key_here